.statistics {
    max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid grey;
  padding-top: 15px;
  background-color: floralwhite;
}

.title {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: center;
}

.statList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: darkgray;
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 100%;
  border: 1px solid grey;
  color: white;
}

.label {
  margin-bottom: 10px;
}

